<div class="container">
  <h3 class="title">Country Flag</h3>
  <br><br>
  <form [formGroup]="countryForm">
    <div class="row">
      <div class="row col-sm-5">
        <div class="form-group">
          <label for="country">Country</label>
          <select id="country" name="country" formControlName="country" class="form-control"
            (change)="changeCountry()">
            <option *ngFor="let c of countryList">
              {{ c.countryname }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let obj of myFlag">
        <img width="300" height="200" *ngIf="obj.name==myCountry" [src]="obj.flag">
      </div>
    </div>
  </form>
</div>
